.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 70px;

  border-bottom: 1px solid var(--border);
  background-color: var(--background);
  color: var(--color);

  position: sticky;
  top: 0;

  z-index: 100;

  @media screen and (max-width: 920px) {
    padding: 5px 10px;
  }

  .left {
    display: flex;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: 920px) {
      gap: 5px;
    }

    .toggle {
      cursor: pointer;

      @media screen and (max-width: 920px) {
        display: none;
      }
    }

    .logo {
      color: var(--logo);
      font-size: 20px;
      font-weight: bold;

      @media screen and (max-width: 920px) {
        display: none;
      }
    }

    .darkLogo {
      color: #fff;
    }

    .search {
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid lightgray;
      border-radius: 5px;
      padding: 5px;

      cursor: pointer;

      input {
        border: none;
        outline: 0;
        width: 500px;
        background-color: transparent;

        @media screen and (max-width: 1200px) {
          width: 200px;
        }

        @media screen and (max-width: 920px) {
          display: none;
        }
      }

      .darkInput {
        color: #fff;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 20px;

    @media screen and (max-width: 920px) {
      gap: 5px;
    }

    .user {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 20px;

      font-weight: 500;

      @media screen and (max-width: 920px) {
        margin-left: 10px;
        gap: 10px;
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}

.darkNavbar {
  border-bottom: 1px solid var(--dark-border);
  background-color: var(--dark-background);
  color: var(--dark-color);
}
