* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
}

.center {
  flex: 6;
}

:root {
  --color: #000;
  --background: #fff;
  --logo: #d10895;
  --background-soft: #f6f3f3;
  --textColor-soft: #555;
  --border: lightgray;

  --dark-color: whitesmoke;
  --dark-background: #222;
  --dark-background-soft: #333;
  --dark-color-soft: lightgray;
  --dark-border: #444;
}
